/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Navigation Styles */
nav {
    background-color: #2980b9;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2980b9;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

nav ul li:hover ul,
nav ul li ul:hover {
    display: block;
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li a {
    padding: 0.5em 1em;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.education-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

blockquote {
    font-size: 1.2em;
    color: #16a085;
    border-left: 4px solid #16a085;
    padding-left: 10px;
    margin: 20px 0;
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    max-width: 100%;
    height: auto;
    flex: 1 1 200px; /* Adjust this value as needed */
    border: 1px solid #ccc; /* Optional: Add a border around images */
    border-radius: 5px; /* Optional: Add rounded corners */
}

/* Footer Styles */
footer {
    background-color: #bdc3c7;
    text-align: center;
    padding: 10px 0;
    font-family: 'Merriweather', serif; /* Custom Font */
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: block;
    }
    
    nav ul li {
        display: block;
        text-align: center;
    }
    
    nav ul li ul {
        position: static;
    }
    
    .education-content {
        flex-direction: column;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }
}

/* Print Styles */
@media print {
    body {
        font-family: 'Times New Roman', serif;
        color: black;
        margin: 1in;
    }
    
    h1 {
        font-size: 2em;
    }

    p, ul, ol, blockquote {
        font-size: 1em;
    }
    
    footer {
        font-family: 'Merriweather', serif; /* Ensure custom font is used */
    }
    
    @page {
        margin: 1in;
    }
}

/* Footer Icon Hover Effect */
footer img {
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
}
